table {
    margin-bottom: 30px;
    background-color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.expandable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.hide {
    display: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}